
<% if(productos.length> 0) { %>
    <table style="display: flex; flex-direction: row; text-align: center; ">
        <tr>
            <th>Nombre Producto</th>
            <th>Precio Producto</th>
            <th>Imagen Producto</th>
        </tr>
        <% productos.forEach(producto=>{ %>
            <tr>
                <td>
                    <p><%= producto.name %></p>
                </td>
                <td>
                <p><%= producto.price %></p>
                </td>
                <td>
                    <img style="max-width: 20%" src= '<%=producto.thumbnail%>'/>
                </td>
            </tr>
            <% }) %>
    </table>
    <% } else { %>
        <p>No hay datos para mostrar</p>
        <% } %> 

        <p><a href="<%= '/' %>">Ir a formulario carga</a></p>